<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% if title %}
        <title>{{ app_name }} - {{ title }}</title>
    {% else %}
        <title>{{ app_name }}</title>
    {% endif %}
</head>
<body class="bg-light">
<header>
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
            <img class="d-inline-block align-text-top brand-logo"
                 src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            {{ app_name }}
        </a>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="users/edit">{{ current_user.get_full_name() }}</a>
        {% endif %}
        <div>
            {% if current_user.is_authenticated %}
                <a class="btn btn-danger" href="/users/logout">Выйти</a>
            {% else %}
                <a class="btn btn-primary" href="/users/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/users/login">Войти</a>
            {% endif %}
        </div>
    </nav>
</header>
<br>
<main role="main" class="container">
    {% if title %}
        <h2 class="title">{{ title }}</h2>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
        {% if success %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
    {% endif %}

    {% block content %}{% endblock %}
</main>
</body>
</html>