{% extends "base.html" %}

{% block content %}
<div class="event-container">

    <div class="general-block">
        <h3 class="text-center">Участники</h3>
        <table class="table">
            <thead class="table-info">
            <tr class="align-middle text-center">
                <th class="align-middle" scope="col">Участник</th>
                <th class="align-middle" scope="col">Менеджер</th>
                <th class="align-middle" scope="col">Потраченная<br>сумма</th>
                <th class="align-middle" scope="col">Сумма<br>на человека</th>
                <th class="align-middle" scope="col">Баланс</th>
                <th class="align-middle" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for member in members_list %}
            <tr class="{% if current_user.is_authenticated
                    and current_user.id == member['id'] %}font-weight-bold bg-light{% endif %}">
                <td class="align-middle">{{ member['fullname'] }}</td>
                <td class="align-middle text-center">
                    {% if member['is_manager'] %}&#128526;{% endif %}
                </td>
                <td class="align-middle text-center">{{ member['cost_text'] }} &#8381;</td>
                <td class="align-middle text-center">{{ member['avg_text'] }} &#8381;</td>
                <td class="align-middle text-center
                           {% if member['balance'] < 0 %}
                             table-danger
                           {% elif member['balance'] > 0 %}
                             table-warning
                           {% else %}
                             table-success
                           {% endif %}">{{ member['balance_text'] }} &#8381;
                </td>
                <td>
                    {% if current_user.is_authenticated
                    and current_user.id in [manager_id, member['id']] %}
                    <a class="btn btn-warning"
                       href="/money/{{ event_id }}/{{ member['id'] }}">Изменить сумму</a>
                    {% if member['id'] != manager_id %}
                    <a class="btn btn-danger"
                       href="/members/delete/{{ event_id }}/{{ member['id'] }}">Исключить</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr class="table-info font-weight-bold">
                <td class="align-middle">Всего участников: {{ total_dict['count'] }}</td>
                <td></td>
                <td class="align-middle text-center">{{ total_dict['cost_text'] }} &#8381;</td>
                <td class="align-middle text-center">
                    {{ total_dict['avg_text'] }} &#8381;
                    {% if total_dict['avg_plus'] > 0 %}
                    (+{{ total_dict['avg_plus_text'] }} &#8381;)
                    {%endif%}
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <div>
                {% if current_user.is_authenticated and current_user.id == manager_id %}
                <a class="btn btn-success" href="/members/invite_user/{{ event_id }}">Пригласить
                    пользователя</a>
                {% endif %}
                {% if current_user.is_authenticated and current_user.id != manager_id
                and is_event_member == False %}
                <a class="btn btn-success" href="/members/add/{{ event_id }}/{{ current_user.id }}">
                    Присоединиться
                </a>
                {% endif %}
            </div>
            <div>
                {% if current_user.is_authenticated and is_event_member == True %}
                <a class="btn btn-primary" href="/money/set_pay/{{ event_id }}">Оплата</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if pays_list %}
    <div class="general-block">
        <h3 class="text-center">Список выплат</h3>
        <table class="table">
            <thead class="table-primary">
            <tr class="text-center">
                <th class="align-middle" scope="col">От</th>
                <th class="align-middle" scope="col">Кому</th>
                <th class="align-middle" scope="col">Сумма</th>
                <th class="align-middle" scope="col">Баланс<br>после оплаты</th>
                <th class="align-middle" scope="col">Баланс<br>после получения</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for pay_dict in pays_list %}
            <tr class="{% if current_user.is_authenticated
                        and current_user.id == pay_dict['user_from_id'] %}
                            font-weight-bold bg-light
                        {% endif %}">
                <td class="align-middle">{{ pay_dict['user_from_name'] }}</td>
                <td class="align-middle">{{ pay_dict['user_to_name'] }}</td>
                <td class="align-middle text-center">{{ pay_dict['pay_sum_text'] }} &#8381;</td>
                <td class="align-middle text-center
                               {% if pay_dict['new_balance_from'] < 0 %}
                                 table-danger
                               {% elif pay_dict['new_balance_from'] > 0 %}
                                 table-warning
                               {% else %}
                                 table-success
                               {% endif %}">{{ pay_dict['new_balance_from_text'] }} &#8381;
                </td>
                <td class="align-middle text-center
                               {% if pay_dict['new_balance_to'] < 0 %}
                                 table-danger
                               {% elif pay_dict['new_balance_to'] > 0 %}
                                 table-warning
                               {% else %}
                                 table-success
                               {% endif %}">{{ pay_dict['new_balance_to_text'] }} &#8381;
                </td>
                <td>
                    {% if current_user.is_authenticated
                    and current_user.id == pay_dict['user_from_id'] %}
                    <a class="btn btn-danger align-center"
                       href="/money/do_pay/{{ event_id }}/{{ pay_dict['user_from_id'] }}/{{
                              pay_dict['user_to_id'] }}/{{ pay_dict['pay_sum'] }}">Быстрая оплата</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {%endif%}

</div>
{% endblock %}