{% extends "base.html" %}

{% block content %}
<div class="event-container">

    <div class="general-block members-block">
        <h3 class="text-center">Участники</h3>
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th scope="col">Участник</th>
                <th scope="col">Менеджер</th>
                <th scope="col">Потраченная сумма</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member['fullname'] }}</td>
                <td>{% if member.is_manager %}Да{% else %}Нет{% endif %}</td>
                <td>{{ member['cost_text'] }} &#8381;</td>
                <td>
                    {% if current_user.is_authenticated
                        and current_user.id in [manager_id, member['id']] %}
                    <a class="btn btn-warning"
                       href="/money/{{ event_id }}/{{ member['id'] }}">Изменить сумму</a>
                        {% if member['id'] != manager_id %}
                        <a class="btn btn-danger"
                           href="/events/{{ event_id }}/delete_user/{{ member['id'] }}">Исключить</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            {% if current_user.is_authenticated and current_user.id == manager_id %}
            <a class="btn btn-success" href="/events/{{ event_id }}/add_user">Добавить участника</a>
            {% endif %}
            {% if current_user.is_authenticated and current_user.id != manager_id
            and is_event_member == False %}
            <a class="btn btn-success" href="/events/{{ event_id }}/add_user/{{ current_user.id }}">
                Присоединиться
            </a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}