{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <div class="general-block form-block">
            <!-- Форма мероприятия -->
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <!-- Поле "Название" -->
                <div>
                    {{ form.title.label }}<br>
                    {{ form.title(class="form-control") }}<br>
                    {% for error in form.title.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <!-- Поле "Приватное мероприятие" -->
                <div>{{ form.is_private() }} {{ form.is_private.label }}</div>
                <!-- Поле "Завершенное мероприятие" -->
                <div>{{ form.is_done() }} {{ form.is_done.label }}</div>
                <!-- Кнопка "Добавить"/"Изменить" -->
                <div>{{ form.submit(type="submit", class="btn btn-primary") }}</div>
            </form>
        </div>
    </div>
{% endblock %}