{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <div class="general-block form-block">
            <!-- Форма приглашения пользователя -->
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <!-- Поле выбора "Выберите пользователя" -->
                <div>
                    {{ form.user_id.label }}<br>
                    {{ form.user_id(class="form-control") }}<br>
                    {% for error in form.user_id.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <!-- Кнопка "Добавить" -->
                <div>{{ form.submit(type="submit", class="btn btn-success") }}</div>
            </form>
        </div>
    </div>
{% endblock %}