{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <div class="form-block">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.email.label }}<br>
                    {{ form.email(class="form-control", type="email") }}<br>
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
                <div>{{ form.submit(type="submit", class="btn btn-success") }}</div>
            </form>
        </div>
    </div>
{% endblock %}