{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <div class="general-block form-block">
            <!-- Форма изменения потраченной суммы участника -->
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <!-- Поле "Потраченная сумма" -->
                <div>
                    {{ form.cost.label }}<br>
                    {{ form.cost(class="form-control") }}<br>
                    {% for error in form.cost.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <!-- Кнопка "Изменить" -->
                <div>{{ form.submit(type="submit", class="btn btn-warning") }}</div>
            </form>
        </div>
    </div>
{% endblock %}